<div *ngIf="loading === false" class="container col-12"
  [ngClass]="{'potential-request': model.actionStatus.alternateName === 'PotentialActionStatus', 'active-request': model.actionStatus.alternateName === 'ActiveActionStatus', 'completed-request': (model.actionStatus.alternateName === 'CompletedActionStatus' && studentDiningCard.active === true), 'cancelled-failed-request': (model.actionStatus.alternateName === 'CancelledActionStatus' || model.actionStatus.alternateName === 'FailedActionStatus' || (model.actionStatus.alternateName === 'CompletedActionStatus' && studentDiningCard.active === false) )}">
  <div *ngIf="studentDiningCardExists === false" class="row no-gutters">
    <ng-container [ngTemplateOutlet]="diningRequestTitle"></ng-container>
  </div>
  <div class="row no-gutters">
    <ng-container [ngSwitch]="studentDiningRequestExists">

      <ng-container *ngSwitchCase="true">

        <ng-container [ngSwitch]="studentDiningCardExists">
          <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="studentDiningCardDetails">
            <ng-container [ngTemplateOutlet]="studentDiningRequestDetails"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <ng-container [ngTemplateOutlet]="studentDiningRequestDetails"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <ng-container *ngIf="model.code == null" [ngTemplateOutlet]="newDiningRequestTitle"></ng-container>
        <ng-container *ngIf="model.code != null" [ngTemplateOutlet]="requestPotential"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #requestPotential>
  <div class="col-lg-5 col-sm-6 col-md-12 m-2">
    <h5 class="text-secondary"><span>{{'Requests.ActionStatusTitle' | translate
        }}</span>:&nbsp;<span>{{'ActionStatusTypes.' + model.actionStatus.alternateName | translate}}</span></h5>
    <div class="text-secondary text-break">
      <div class="inline-display">
        <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date:'dd/MM/yyy'}}&nbsp;</span>
      </div>
      <div class="inline-display">
        <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date:'dd/MM/yyy'}}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #diningRequestTitle>
  <div class="col-lg-12 col-md-12 col-sm-12 m-2">
    <div class="centered-div">
      <h5 class="pb-1 text-secondary"><span>{{'NewRequestTemplates.DiningRequestAction.Name' | translate }}</span></h5>
    </div>
  </div>
</ng-template>

<ng-template #newDiningRequestTitle>
  <div class="col-lg-12 col-md-12 col-sm-12 m-2">
    <div class="centered-div">
      <h5 class="pb-1 text-secondary"><span>{{'NewRequestTemplates.NewDiningRequest' | translate }}</span></h5>
    </div>
  </div>
</ng-template>

<ng-template #studentDiningCardDetails>
  <div class="col-lg-1 col-md-12 col-sm-2">
    <i class="fas fa-id-card-alt fa-5x centered add-top"
      [ngClass]="{'potential-request-color': model.actionStatus.alternateName === 'PotentialActionStatus', 'active-request-color': model.actionStatus.alternateName === 'ActiveActionStatus', 'completed-request-color': (model.actionStatus.alternateName === 'CompletedActionStatus' && studentDiningCard.active === true), 'cancelled-failed-request-color': (model.actionStatus.alternateName === 'CancelledActionStatus' || model.actionStatus.alternateName === 'FailedActionStatus' || (model.actionStatus.alternateName === 'CompletedActionStatus' && studentDiningCard.active === false) )}"></i>
  </div>
  <div class="col-lg-5 col-sm-6 col-md-12 m-2">
    <div class="centered-div">
      <div>
        <h5 class="pb-1 text-secondary"><span>{{'UniversisDiningModule.DiningCardsTemplates.DiningCard.Name' | translate
        }}</span>:&nbsp;<span *ngIf="model && studentDiningCard">{{'UniversisDiningModule.DiningCardStatuses.'+ studentDiningCard?.active | translate}}</span></h5>
      </div>
      <div class="text-secondary mt-2 text-break">
        <div class="inline-display">
          <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date:'dd/MM/yyy'}}&nbsp;</span>
        </div>
        <div class="inline-display">
          <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date:'dd/MM/yyy'}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #studentDiningRequestDetails>
  <div class="col-lg-5 col-sm-6 col-md-12 m-2 pt-2">
    <span *ngIf="model.requestNumber">
      <h5 class="pb-1 text-secondary"><span>{{'Requests.RequestNumber' |
          translate}}</span>:&nbsp;<span>{{model.requestNumber}}</span></h5>
    </span>
    <h5 class="text-secondary"><span>{{'Requests.ActionStatusTitle' | translate
        }}</span>:&nbsp;<span>{{'ActionStatusTypes.' + model.actionStatus.alternateName | translate}}</span></h5>
    <div class="text-secondary text-break pb-2">
      <div class="inline-display">
        <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date:'dd/MM/yyy'}}&nbsp;</span>
      </div>
      <div class="inline-display">
        <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date:'dd/MM/yyy'}}</span>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #invalidPeriod>
  <div class="text-center" *ngIf="loading === false">
    <div class="mt-5">
      <div class="icon-circle bg-warning border-gray-100"></div>
    </div>
    <div class="mt-4">
      <h4 *ngIf="studentDiningCard === true" class="font-lg font-weight-normal text-dark"
        [translate]="'UniversisDiningModule.StudentDiningCardExists'"></h4>      
      <h4 *ngIf="diningRequestEvent != null && diningRequestEvent.valid === false && diningRequestEvent.started === true"
        class="font-lg font-weight-normal text-dark" [translate]="'UniversisDiningModule.RequestPeriodExpired'"></h4>
      <h4 *ngIf="diningRequestEvent != null && diningRequestEvent.valid === false && diningRequestEvent.started === false"
        class="font-lg font-weight-normal text-dark" [translate]="'UniversisDiningModule.RequestPeriodNotStarted'"
            [translateParams]="{
              dateStart: diningRequestEvent?.validFrom | date: 'shortDate',
              dateEnd: diningRequestEvent?.validThrough | date: 'shortDate'
            }"></h4>
        <h4 *ngIf="diningRequestEvent == null" class="font-lg font-weight-normal text-dark"
          [translate]="'UniversisDiningModule.NoDiningRequestEvent'"></h4>
    </div>
  </div>
</ng-template>
<ng-container [ngSwitch]="diningRequestEvent != null && diningRequestEvent.valid">
  <ng-container *ngSwitchCase="true">

    <tabset #tabset class="col-12 tab-navbar tab-container">
  
      <tab (select)="onSelectTab($event)"
      heading="{{'UniversisDiningModule.PersonalInformation' | translate}}" id="personal-information">
        <ng-container *ngIf="formAction != null">
          <advanced-form-edit #form1 (change)="onDataChange($event)" (customEvent)="onCustomEvent($event)" [(data)]="model" [formName]="formAction">
          </advanced-form-edit>
        </ng-container>
      </tab>
      <tab heading="{{'UniversisDiningModule.DiningDocuments' | translate}}"
            [disabled]="model.actionStatus.alternateName === 'PotentialActionStatus'"
            id="attach-documents" (select)="onSelectAttachDocuments()">
        <div class="col-12" *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'">
          <div class="alert alert-primary" role="alert">
            {{'UniversisDiningModule.TemporarySaveMessage' | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-warning" role="alert">
            <p class="text-dark">
            {{'UniversisDiningModule.DiningClubAttachmentNote' | translate}}
          </p>
          </div>
        </div>
        <ng-container *ngIf="documents && documents.length">
          <div class="col-12">
            <p class="text-secondary">
              {{'UniversisDiningModule.AttachDocumentMessage' | translate}}
            </p>
          </div>
          <ng-container *ngFor="let document of documents | filterBy: ['attachmentType'] ;let i= index">
            <div class="col-12">
              <div class="mb-4 mt-4">
                <h4 class="text-secondary">{{i+1}}. {{document.attachmentType.name}}
                  <span class="font-weight-normal text-lowercase text-secondary">
                    ({{document.numberOfAttachments}} {{(document.numberOfAttachments === 1 ? 'UniversisDiningModule.DocumentsSubmission.DiningDocumentToUpload' : 'UniversisDiningModule.DocumentsSubmission.DiningDocumentsToUpload') | translate}})
                  </span>                  
                </h4>
              </div>
              <ngx-dropzone class="mt-2" [multiple]="document.numberOfAttachments > 1" [disableClick]="document.attachments.length >= document.numberOfAttachments"
                [accept]="'application/pdf'"
                (change)="onFileSelect($event, document.attachmentType)">
                <ngx-dropzone-label style="z-index: 0" class="p-2">
                  <div *ngIf="document.attachmentType">{{document.attachmentType.description ||
                    document.attachmentType.name}}</div>
                  <div>{{'UniversisDiningModule.DocumentsSubmission.UploadDocument' | translate}} (*.pdf)</div>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let attachment of document.attachments"
                  [removable]="model.actionStatus && model.actionStatus.alternateName === 'PotentialActionStatus'"
                  (removed)="onFileRemove(attachment)">
                  <ngx-dropzone-label>{{ attachment.name }} ({{ attachment.contentType }})
                  </ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="documents && documents.length === 0">
          <div class="text-center">
            <div class="mt-5">
              <div class="icon-circle bg-gray-200 border-gray-100"></div>
            </div>
            <div class="mt-4">
              <h4 *ngIf="model.actionStatus.alternateName === 'PotentialActionStatus'" class="font-3xl font-weight-normal text-gray-300"
                [translate]="'UniversisDiningModule.EmptyDocumentListContinue'"></h4>
                <h4 *ngIf="model.actionStatus.alternateName !== 'PotentialActionStatus'" class="font-3xl font-weight-normal text-gray-300"
                [translate]="'UniversisDiningModule.EmptyDocumentList'"></h4>
            </div>
          </div>
        </ng-container>
        <div class="col-12 mb-4 mt-4">
          <div class="d-flex justify-content-end">
            <button (click)="submit()" *ngIf="(diningRequestEvent != null && diningRequestEvent.valid == true) && (model.actionStatus.alternateName === 'PotentialActionStatus')"
              [disabled]="documentState === 'invalid'"      
              class="ml-2 btn btn-success btn-lg" [translate]="'UniversisDiningModule.Submit'" type="button"></button>
          </div>
        </div>        
      </tab>
      <ng-container *ngIf="messages">
        <tab id="messages" [active]="showMessagesTab === true">
          <ng-template tabHeading>
            <i class="far fa-comments"></i><span class="pl-2">{{'UniversisDiningModule.Messages.Title' | translate}}<span *ngIf="unreadMessages != null && unreadMessages != 0" class="badge badge-pill bg-primary ml-1">{{unreadMessages}}</span></span>
          </ng-template>
          <div class="alert alert-primary" role="alert">
            <p class="text-dark">
            {{'UniversisDiningModule.Messages.Info' | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
          </div>
          <div class="mt-4">
            <ng-container *ngIf="messages">
              <legend ref="header">
                <span [translate]="'UniversisDiningModule.Messages.Title'"></span>
                <ng-container *ngIf="messages.length">
                  <button
                    *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')"
                    type="button" (click)="showNewMessage = true"
                    class="ml-2 btn btn-sm btn-default text-indigo d-inline text-lowercase"
                    title="{{'UniversisDiningModule.Messages.NewMessage' | translate}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="ml-2" [translate]="'UniversisDiningModule.Messages.NewMessage'"></span>
                  </button>
                </ng-container>
              </legend>
              <ng-container  *ngIf="showNewMessage">
                <app-compose-message (submit)="send(newMessage)" (cancel)="showNewMessage = false" [(model)]="newMessage">
                </app-compose-message>
              </ng-container>
              <div class="card" *ngFor="let message of messages">
                <div class="card-body">
                  <div *ngIf="message.sender !== model.owner" class="text-indigo mb-2">{{'UniversisDiningModule.Messages.IncomingMessage' | translate}}</div>
                  <div>
                    <span class="float-right text-dark">
                      <div class="py-auto">
                        <summary class="d-flex p-3 text-success justify-content-md-center"
                                 *ngIf="message?.dateReceived == null || !message?.read">
                        <span class="font-sm text-center m-auto text-success">
                          <i class="far fa-3x fa-envelope-open"></i><br>
                          <span class="font-xs">{{ 'UniversisDiningModule.Messages.MarkAsRead'| translate }}</span>
                        </span>
                      </summary>
                      <div class="d-flex p-3 float-xl-right" *ngIf="message?.dateReceived != null && message.read">
                         <span class="font-sm text-center m-auto text-gray-300" >
                            <i class="far fa-3x fa-envelope"></i><br>
                           <span>{{ message?.dateReceived | date: 'dd-MM-yyyy h:mm a'}}</span>
                          </span>
                        </div>
                      </div>
                    </span>
                    <div class="card-title  font-lg font-weight-normal pb-1">
                      <span *ngIf="message.subject == null" [translate]="'UniversisDiningModule.Messages.NoSubject'"></span>
                      <span *ngIf="message.subject != null">{{message.subject}}</span>
                    </div>
                  </div>
                  <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"
                    [innerHTML]="message.body"></div>
                  <div *ngIf="message?.attachments.length>0" class="mt-2">
                    <button type="button" class="btn btn-light" (click)="downloadAttachment(message?.attachments[0])">{{
                      'Reports.Viewer.Download' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="messages.length === 0">
                <div class="card-body">
                  <h4 class="text-secondary font-weight-normal mb-0">
                    <span [translate]="'UniversisDiningModule.Messages.NoMessages'"></span>
                    <button
                      (click)="showNewMessage = true"
                      *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')" class="float-right btn btn-default text-indigo text-lowercase"
                      title="{{'UniversisDiningModule.Messages.NewMessage' | translate}}" type="button">
                      <i class="fas fa-paper-plane"></i>
                      <span [translate]="'UniversisDiningModule.Messages.NewMessage'" class="ml-2"></span>
                    </button>
                    </h4>
                </div>
              </div>
  
            </ng-container>
          </div>
        </tab>
      </ng-container>

    </tabset>
  </ng-container>
  <ng-container *ngSwitchCase="false" [ngTemplateOutlet]="invalidPeriod"></ng-container>
</ng-container>  
