<div>
  <div class="row mb-2">
    <div class="col-auto">
      <h2 [translate]="'NewRequestTemplates.DiningRequestAction.Title'"></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table"  [autoLoad]="false">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value" [form]="searchConfiguration"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Items'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Item'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">

      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
          class="btn btn-outline-indigo btn-lg" (click)="acceptAction()" type="button"
          [translate]="'Register.Accept'">
          Accept
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" [disabled]="!(this.table && this.table.selected && this.table.selected.length)" (click)="acceptAction()" [translate]="'Register.Accept'"></button>
          <button class="dropdown-item" [disabled]="!(this.table && this.table.selected && this.table.selected.length)" (click)="rejectAction()" [translate]="'Register.Reject'"></button>
          <button class="dropdown-item" [disabled]="!(this.table && this.table.selected && this.table.selected.length)" (click)="sendDirectMessageAction()" [translate]="'Register.SendMessage'"></button>
          <a *ngIf="recordsTotal > 0" download="{{title}}" class="dropdown-item universis-btn-export"
            href="javascript:void(0)">
            <span [translate]="'Tables.Export'"></span>
          </a>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear
            selection</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" (load)="onDataLoad($event)"  [autoLoad]="true"></app-advanced-table>
    </div>
  </div>
</div>
<router-modal></router-modal>