<!--  List -->
<div id="list1" *ngIf="model" class="card">
  <div *ngIf="model.actionStatus != undefined" class="card-body">
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Register.Details'">
    </h5>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'Register.DateCreated'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.dateCreated | date:'dd/MM/yyy' }}</span>
      </div>
    </div>
    <div *ngIf="model?.action?.requestNumber" class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary text-capitalize" [lang]="currentLang" [translate]="'Register.RequestNumber'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.requestNumber }}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary text-capitalize" [translate]="'Register.Status'"></span>
      </div>
      <div class="col-7">
        <span [ngClass]="{'text-primary': model?.actionStatus?.alternateName ==='PotentialActionStatus',
                                  'text-danger': (model?.actionStatus?.alternateName ==='FailedActionStatus') || model?.actionStatus?.alternateName ==='CancelledActionStatus',
                                  'text-success': model?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-purple': model?.actionStatus?.alternateName ==='ActiveActionStatus'}">
          {{ 'ActionStatusTypes.' + model?.actionStatus?.alternateName | translate}}
        </span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'Register.DateModified'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.dateModified | date:'dd/MM/yyy' }}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'UniversisDiningModule.ModifiedBy'"></span>
      </div>
      <div class="col-7">
        <span *ngIf="model.modifiedBy.name else informationIsNotAvailable"> {{model?.modifiedBy?.name}}</span>
        <ng-template #informationIsNotAvailable> <small>&nbsp;{{ 'UniversisDiningModule.InformationIsNotAvailable' | translate}}</small></ng-template>
      </div>
    </div>
  </div>

</div>
<div id="list1" *ngIf="model" class="card">
  <div *ngIf="model.actionStatus != undefined" class="card-body">
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'UniversisDiningModule.StudentInfo'">
    </h5>
      <div class="form-group row mb-1">
        <div class="col-5">
            <span  class="text-secondary" [translate]="'Students.StudentUniqueIdentifier'"></span>
        </div>
        <div class="col-7">
            <span  class="text-secondary" class="text-dark">{{model?.student?.uniqueIdentifier}}</span>
        </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
          <span  class="text-secondary" [translate]="'Requests.StudentStatus'"></span>
      </div>
      <div class="col-7 text-dark">
          <span [ngClass]="{
            'text-success': model?.student?.studentStatus?.alternateName ==='active',
            'text-danger': model?.student?.studentStatus?.alternateName ==='erased' || model?.student?.studentStatus?.alternateName ==='suspended',
            'text-primary': model?.student?.studentStatus?.alternateName ==='graduated',
            'text-dark': (model?.student?.studentStatus?.alternateName ==='declared' || model?.student?.studentStatus?.alternateName ==='null'),
            'text-info': model?.student?.studentStatus?.alternateName ==='candidate'}">{{'StudentStatuses.' + model?.student?.studentStatus?.alternateName | translate}}</span>
      </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
        <span class="text-secondary" [translate]="'Students.StudyLevel'"></span>
    </div>
    <div class="col-7 text-dark">
        <span>{{'Students.StudyLevels.' + model?.student?.studyProgram?.studyLevel?.alternateName | translate}}</span>
    </div>
</div>
    <div class="form-group row mb-1">
      <div class="col-5">
          <span  class="text-secondary" [translate]="'Students.InscriptionModeCategory'"></span>
      </div>
      <div class="col-7 text-dark">
          <span>{{model?.student.inscriptionMode?.alternateName  | translate}}</span>
      </div>
     </div>
       <div class="form-group row mb-1">
        <div class="col-5">
            <span  class="text-secondary" [translate]="'Students.Department'"></span>
        </div>
        <div class="col-7 text-dark">
            <span>{{model?.student?.department?.name}}</span>
        </div>
    </div>
    <div class="form-group row mb-1">
        <div class="col-5">
            <span  class="text-secondary" [translate]="'Students.InscriptionYear'"></span>
        </div>
        <div class="col-7 text-dark">
            <span>{{model?.student?.inscriptionYear}}</span>
        </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
          <span class="text-secondary"  [translate]="'Students.StudentIdentifier'"></span>
      </div>
      <div class="col-7 text-dark">
          <span>{{model?.student?.studentIdentifier}}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
        <div class="col-5">
            <span  class="text-secondary" [translate]="'Students.Semester'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.student?.semester}} {{ 'UniversisDiningModule.OutOf' | translate}} {{model?.student?.department?.totalSemesters}}</span>
        </div>
    </div>
  </div>
</div>



<div id="list1" *ngIf="model" class="card">
  <div *ngIf="model.actionStatus != undefined" class="card-body">
    <h5 class="card-title font-lg font-weight-normal text-secondary" [translate]="'Students.PersonalDetails'">
    </h5>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [translate]="'Students.FullName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.givenName}} {{model?.student?.person?.familyName}}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'Students.FatherName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.fatherName }}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'Students.MotherName'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.motherName }}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'Students.BirthDate'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.birthDate | date:'dd/MM/yyy' }}</span>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-5">
        <span class="text-secondary" [lang]="currentLang" [translate]="'Students.VatNumber'"></span>
      </div>
      <div class="col-7">
        <span class="text-dark">{{ model?.student?.person?.vatNumber }}</span>
      </div>
    </div>
    <div class="form-group row mb-1" *ngIf="model?.student?.person?.vatNumber != model.studentAfm" >
      <div class="col-5">
      </div>
      <div class="col-7">
        <span class="text-secondary text-danger font-italic" [translate]="'UniversisDiningModule.VatNumberCrosscheckFailed'">
        </span>
      </div>
    </div>
  </div>
</div>



